[submodule "bootloader"]
	path = bootloader
	url = https://github.com/mrfixit2001/updates_repo
	branch = v1.5
[submodule "firmware"]
	path = firmware
	url = https://gitlab.manjaro.org/tsys/pinebook-firmware.git
