PARTLABEL=${BLKNAME}-EFI	/boot/efi	vfat	defaults,discard,relatime   0 0
PARTLABEL=${BLKNAME}-Boot	/boot		ext4	defaults,discard,relatime   0 0
LABEL=${BLKNAME}-RootFS		/		ext4	defaults,discard,relatime   0 0
/swapfile			swap		swap	defaults		    0 0
